{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django + React Test</title>
    <!-- <script src="{% static 'build/react-build.js' %}"></script> -->
    <script type="module">
      import RefreshRuntime from 'http://localhost:5173/@react-refresh';
    RefreshRuntime.injectIntoGlobalHook(window);
    window.$RefreshReg$ = () => {};
    window.$RefreshSig$ = () => (type) => type;
    window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script type="module" src="http://localhost:5173/src/main.jsx"></script>
  </head>
  <body>
    <h1>Hello from django</h1>
    <div id="react-root"></div>
  </body>
</html>
